extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Kristen Silva

        p Full Stack JavaScript Developer


        .about-bio

          p Technology is all around us and ever changing, the opportunity for continual growth in an industry that seeps into many fields is a perfect fusion between my love for problem solving and my curiosity for programming. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 123-555-1234
          li kristensilvarobles@gmail.com

        a.btn-link(href='https://www.linkedin.com/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/kristenSilva', target="_blank") GitHub
        a.btn-link(href='https://twitter.com/', target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back