extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This portfolio showcases the projects created during the Treehouse Fullstack Techdegree. This portfolio is the first project in my journey as a Software Engineer that runs outside of the browser and journeys into the powerful server-side of JavaScript. 
    br
    p Node.js, Express, and Pug were used to create this portfolio.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name

